*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}


body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

    
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: top;
    width: 100%;
    z-index: 100;
}

.navbar {
    width: 100%;
    background: #171717;

    display: flex;
    justify-content: right;
}

ul{
    list-style: none;
}

.logasdo{
    height: 50px;
    width: 50px;
    margin: 30px;
    position: absolute;
    top: -25px;


    transition: 0.4s ease;
}

.logasdo:hover{
    background: #3f3f3f;
    border-radius: 5rem;
    width: 100px;
    height: 100px;
    top: -25px;

}

/*

.navbar a{
    display:block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar a:hover{
    background: #3f3f3f;
}
*/
.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;  
}

.menuinicio{
    width: 1000px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;

}

.menuinicio li{
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #363636;
    position: relative;
}

.menuinicio .primero{
    border-left: 1px solid #363636;
}

.menuinicio li a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.menuinicio .gifs{
    position: absolute;
    max-width: 100%;
    bottom: 0;
    right: 10px;
    width: 0%;
    z-index: 20;

    transition: 0.4s ease;
}


.menuinicio li  a .text-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    top: 0%;
    position: absolute;

    z-index: 10;

    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.menuinicio li a .down-item{
    width: 100%;
    height: 100%;
    background: #171717;
    position: absolute;
    top: 0%;

    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

}

.menuinicio li a .top-item{
    width: 0%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0%;

    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

}

.menuinicio li:hover .down-item, .menuinicio li:hover .text-item{
    top:100%;
    height: 115%;
}

.menuinicio li:hover .gifs{
    width: 30%;
    right: 35%;
}

.menuinicio li:hover a .top-item{
    width: 100%;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Temas{
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    justify-content: left;
    margin-top: 0px;
    text-align: left;
    margin-left: 100px;

}

.Q {
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    justify-content: left;
    margin-top: 30px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;

}

.A{
    font-size: 20px;
    margin-top: 5px;
    color: #000;
    text-align: justify;
    width: 80%;
    margin-left: 150px;

}

.titleinicio{
    margin-top: 40px;
    font-size: 80px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #000;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
}

.btn {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 200px;
    padding: 10px 35px;
    border: 2px solid #0664f0;
    color: #fff;
    text-decoration: none;
    background-color: #069af0;
    text-transform: uppercase;
    font-weight: 1000;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
    justify-content: center;


}

.btn-ods {
    display: flex;

    font-size: 20px;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

}


@media (max-width: 768px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height: 100vh;
    }

    .navbar {
        display: none;
    }
}

.container-form{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    padding: 30px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;   
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #069af0;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    max-width: 600px;
}
.container-form form textarea{
    max-width: 600px;
    min-width: 300px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: solid;
    border-color: #0664f0;
    background: #069af0;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.info-form{
    padding-right: 60px;
}

.container-form .btn-enviar:hover{
    background: #0664f0;
    font-size: 20px;
}

.container-form form{
    margin-top: 70px;
    padding-right: 20%;
}

@media (max-width: 1200px){
    .container-form{
        display: list-item;
    }

    .container-form .btn-enviar{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}