*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}


body{
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: top;
    width: 100%;
    z-index: 100;
}

.navbar {
    width: 100%;
    background: #171717;

    display: flex;
    justify-content: right;
}

ul{
    list-style: none;
}

.logasdo{
    height: 50px;
    width: 50px;
    margin: 30px;
    position: absolute;
    top: -25px;


    transition: 0.4s ease;
}

.logasdo:hover{
    background: #3f3f3f;
    border-radius: 5rem;
    width: 100px;
    height: 100px;
    top: -25px;

}

.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;  
}

.menuinicio{
    width: 1000px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;

}

.menuinicio li{
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #363636;
    position: relative;
}

.menuinicio .primero{
    border-left: 1px solid #363636;
}

.menuinicio li a{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.menuinicio .gifs{
    position: absolute;
    max-width: 100%;
    bottom: 0;
    right: 10px;
    width: 0%;
    z-index: 20;

    transition: 0.4s ease;
}

.menuinicio li  a .text-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    top: 0%;
    position: absolute;

    z-index: 10;

    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.menuinicio li a .down-item{
    width: 100%;
    height: 100%;
    background: #171717;
    position: absolute;
    top: 0%;

    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

}

.menuinicio li a .top-item{
    width: 0%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0%;

    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

}

.menuinicio li:hover .down-item, .menuinicio li:hover .text-item{
    top:100%;
    height: 115%;
}

.menuinicio li:hover .gifs{
    width: 30%;
    right: 35%;
}

.menuinicio li:hover a .top-item{
    width: 100%;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Temas{
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    justify-content: left;
    margin-top: 0px;
    text-align: left;
    margin-left: 100px;

}

.Q {
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    justify-content: left;
    text-align: left;
    margin-left: 5%;

}

.A{
    font-size: 20px;
    margin-top: 20px;
    color: #000000;
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;

}

.titleinicio{
    margin-top: 40px;
    font-size: 80px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #000000;
    align-items: center;
    margin-bottom: 40px;
}

.Objetivo{
    background-color: rgb(0, 106, 206);
}

.imagenes{
  background-color: #29aae1;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.swiffy-slider{
  max-width: 50%;
  min-width: 300px;
}

.slider-container{
  border-radius: 2rem;
}

.text-container{
  padding: 20px;
}

.text-container h2{
  color: #fff;
}

.text-container p{
  color: #fff;
}


.Q-S{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px;
}




@media (max-width: 768px){
    .titleinicio{
        margin-bottom: 0;
        font-size: 60px;
    }
    .sau{
        height: 100vh;
    }

    .navbar {
        display: none;
    }
}

